@import"./pages/home";
@import"./pages/bags";
@import"./pages/abaut";
@import"./pages/accsessuaries";
@import"./pages/addtocart";
@import"./pages/ceoAbaut";
@import"./pages/register";
@import"./pages/saell";
@import"./pages/shoes";
@import"./pages/wishlist";
@import"./pages/location";
@import"./pages/login";
@import"./pages/searchByName.scss";
@import"./pages/contact";
@import"./pages/order";