* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//** dark-light mode

body {
    &.dark-theme {
        background-color: #000000;
        color: white;

        .logoAndSearch {
            .logo {
                .logoImg {
                    display: none;
                }

                .logoText {
                    display: block;
                }

            }
        }

        nav {
            .navMenu {
                .allMenuList {
                    li {
                        a {
                            color: #fff;
                        }
                    }

                    .designer {
                        .list {
                            background-color: #000;

                        }
                    }

                    .bags {
                        .listBags {
                            background-color: #000;
                        }
                    }

                    .accessoriesList {
                        .list {
                            background-color: #000;
                        }
                    }

                }
            }
        }
    
    }
}

// *****\\\\


header {
    width: 100%;

    .title {
        width: 100%;
        min-height: 40px;
        background-color: black;

        .findALocation {
            min-height: 40px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;

            a {
                font-family: sans-serif;
                font-size: 15px;
                font-weight: 500;
                color: white;
                text-decoration: none;
            }
        }

        .buyNow {
            min-height: 40px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                font-family: sans-serif;
                font-size: 15px;
                font-weight: 500;
                color: white;
                text-decoration: none;
            }
        }

        .control {
            width: 100%;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            .mode {
                width: 20%;
                display: flex;
                align-items: start;
                justify-content: start;
                margin-bottom: 5px;

                button {
                    background-color: transparent;
                    border-color: white;

                    i {
                        color: white;
                        font-size: 18px;
                    }
                }
            }

            ul {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                padding-top: 10px;

                li {
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        font-family: sans-serif;
                        font-size: 15px;
                        font-weight: 500;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }

    }

    .logoAndSearch {
        width: 100%;
        min-height: 100px;

        .logo {
            width: 100%;
            min-height: 100px;
            display: flex;
            align-items: center;
            justify-content: start;

            .logoImg {
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                }
            }

            .logoText {
                display: none;
            }

        }

        .headerIcons {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;

            .search {
                width: 46%;
                min-height: 90px;
                display: flex;
                align-items: center;
                justify-content: end;
                margin-right: 20px;

                .btn {
                    width: 23%;
                    min-height: 50px;
                    margin-right: 20px;

                    a {
                        width: 30%;
                        min-height: 50px;

                        button {
                            border-radius: 0px;
                            background-color: white;
                            width: 42px;
                            min-height: 42px;
                        }
                    }

                }
            }
        }

    }

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;

        .navMenu {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            min-height: 70px;

            .allMenuList {
                display: flex;
                align-items: center;
                gap: 21px;
                list-style-type: none;
                width: 100%;

                li {
                    a {
                        line-height: 63px;
                        color: black;
                        font-size: 16px;
                        font-weight: 300;
                        font-family: Metropolis, "Helvetica Neue", Helvetica, Arial, sans-serif;
                        ;
                        text-decoration: none
                    }
                }

                .designer {
                    &:hover {
                        .list {
                            display: block;
                            top: 215px;
                            left: 320px;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 100px;
                        }
                    }

                    .list {
                        display: flex;
                        display: none;
                        align-items: center;
                        background-color: white;
                        padding: 10px;
                        width: auto;

                        .topDesinger {
                            min-height: 400px;

                            ul {
                                list-style: none;
                            }
                        }

                    }
                }

                .bags {
                    &:hover {
                        .listBags {
                            display: block;
                            top: 215px;
                            left: 360px;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 100px;
                        }
                    }

                    .listBags {
                        display: flex;
                        display: none;
                        align-items: center;
                        background-color: white;
                        padding: 10px;
                        width: auto;

                        .style {
                            padding-top: 20px;
                            min-height: 200px;

                            ul {
                                list-style: none;
                            }
                        }
                    }
                }

                .accessoriesList {
                    &:hover {
                        .list {
                            display: block;
                            top: 215px;
                            left: 420px;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 40px;
                        }
                    }

                    .list {
                        display: flex;
                        display: none;
                        align-items: center;
                        background-color: white;
                        padding: 10px;
                        width: auto;

                        .accessories {
                            min-height: 180px;

                            ul {
                                list-style: none;
                            }
                        }

                    }
                }

                .shoes {
                    &:hover {
                        .list {
                            display: block;
                            top: 215px;
                            left: 420px;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 40px;
                        }
                    }

                    .list {
                        display: flex;
                        display: none;
                        align-items: center;
                        background-color: white;
                        padding: 10px;
                        width: auto;

                        .allShoes {
                            min-height: 200px;

                            ul {
                                list-style: none;
                            }
                        }

                    }
                }

                .jewelryList {
                    &:hover {
                        .list {
                            display: block;
                            top: 215px;
                            left: 540px;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 40px;
                        }
                    }

                    .list {
                        display: flex;
                        display: none;
                        align-items: center;
                        background-color: white;
                        padding: 10px;
                        width: auto;

                        .jewelry {
                            min-height: 180px;

                            ul {
                                list-style: none;
                            }
                        }

                    }
                }

                .whatchList {
                    &:hover {
                        .list {
                            display: block;
                            top: 215px;
                            left: 500px;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 40px;
                        }
                    }

                    .list {
                        display: flex;
                        display: none;
                        align-items: center;
                        background-color: white;
                        padding: 10px;
                        width: auto;

                        .Watches {
                            min-height: 180px;

                            ul {
                                list-style: none;
                            }
                        }

                    }
                }

                .saleList {
                    &:hover {
                        .list {
                            display: block;
                            top: 215px;
                            left: 650px;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 40px;
                        }
                    }

                    .list {
                        display: flex;
                        display: none;
                        align-items: center;
                        background-color: white;
                        padding: 10px;
                        width: auto;

                        .sale {
                            min-height: 180px;

                            ul {
                                list-style: none;
                            }
                        }

                    }
                }
            }

            .dropdown {
                display: none;
                width: 100%;

                button {
                    background-color: white;
                    border: none;
                    color: black;
                    border-radius: 0px;
                    font-size: 23px;

                    &:hover {
                        background-color: white;
                    }
                }
            }

            .divRegister {
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 10px;
                padding-right: 20px;

                #userName {
                    width: 30%;
                    gap: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    margin-right: 20px;

                    i {
                        font-size: 20px;
                    }
                }

                button {
                    padding: 7px;
                    border-style: none;
                    background-color: transparent;
                }
            }
        }

    }

}

@media screen and (max-width:992px) {
    .logoAndSearch {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        .container {
            .logo {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .logoImg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .headerIcons {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }



    }
}

@media screen and (max-width:992px) {
    header {
        nav {
            .container {
                .allMenuList {
                    display: none;
                }

                .dropdown {
                    display: block;

                    .dropdown-menu {
                        align-items: center;
                        // gap: 35px;
                        padding: 15px;
                        flex-direction: column;
                        list-style-type: none;
                        width: 100%;

                        li {
                            a {
                                line-height: 63px;
                                color: black;
                                font-size: 16px;
                                font-weight: 300;
                                font-family: Metropolis, "Helvetica Neue", Helvetica, Arial, sans-serif;
                                ;
                                text-decoration: none
                            }
                        }

                        .designer {
                            &:hover {
                                .list {
                                    display: block;
                                    top: 215px;
                                    left: 160px;
                                    position: absolute;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    gap: 100px;
                                }
                            }

                            .list {
                                display: flex;
                                display: none;
                                align-items: center;
                                background-color: white;
                                padding: 10px;
                                width: auto;

                                .topDesinger {
                                    min-height: 400px;

                                    ul {
                                        list-style: none;
                                    }
                                }

                            }
                        }

                        .bags {
                            &:hover {
                                .listBags {
                                    display: block;
                                    top: 215px;
                                    left: 360px;
                                    position: absolute;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    gap: 100px;
                                }
                            }

                            .listBags {
                                display: flex;
                                display: none;
                                align-items: center;
                                background-color: white;
                                padding: 10px;
                                width: auto;

                                .style {
                                    padding-top: 20px;
                                    min-height: 400px;

                                    ul {
                                        list-style: none;
                                    }
                                }
                            }
                        }

                        .accessoriesList {
                            &:hover {
                                .list {
                                    display: block;
                                    top: 215px;
                                    left: 420px;
                                    position: absolute;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    gap: 40px;
                                }
                            }

                            .list {
                                display: flex;
                                display: none;
                                align-items: center;
                                background-color: white;
                                padding: 10px;
                                width: auto;

                                .accessories {
                                    min-height: 400px;

                                    ul {
                                        list-style: none;
                                    }
                                }

                            }

                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width:992px) {
    header {
        .title {
            .findALocation {
                display: flex;
                align-items: center;
                justify-content: center;

            }

            .buyNow {
                display: none;
            }

            .control {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width:769px) {
    header {
        .title {
            .findALocation {
                display: flex;
                align-items: center;
                justify-content: center;

            }

            .buyNow {
                a {
                    font-size: 12px;
                }
            }

        }
    }
}

@media screen and (max-width:425px) {
    header {
        .title {
            .findALocation {
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    font-size: 12px;
                }
            }

            .buyNow {
                a {
                    font-size: 12px;
                }
            }

            .control {
                width: 100%;

                ul {
                    width: 100%;

                    li {
                        a {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}



#register {
    width: 100%;
    min-height: 120vh;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/images/registerPage/LP_Hero.jpg);

    .allRegisterForm {
        width: 100%;
        min-height: 650px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            min-height: 90px;
            font-family: poppins;
            font-weight: 900;
            font-size: 50px;
        }

        #registerForm {
            width: 100%;
            min-height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            label {
                font-size: 15px;
                font-weight: 400;
                font-family: poppins;
                width: 33%;
            }

            input {
                border: none;
                width: 35%;
                min-height: 45px;
            }

            p {
                font-weight: 600;
                font-size: 15px;
                font-family: poppins;

                a {
                    font-family: poppins;
                    font-weight: 700;
                    color: red;
                    text-decoration: none;
                }
            }

            button {
                width: 220px;
                min-height: 45px;
                border: 2px solid black;
                background-color: transparent;
                color: #000;
                font-weight: 700;
                font-size: 15px;
                font-family: poppins;
                transition: .3s all ease;

                &:hover {
                    background-color: #000;
                    color: #fff;

                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #register {
        .allRegisterForm {
            h1 {
                font-size: 45px;
            }

            #registerForm {
                label {
                    font-size: 13px;
                }

                p {
                    font-size: 12px;

                }

                button {
                    width: 120px;
                    min-height: 45px;
                    font-size: 13px;
                }
            }


        }
    }
}

@media screen and (max-width: 600px) {
    #register {
        .allRegisterForm {
            h1 {
                font-size: 40px;
            }

            #registerForm {
                label {
                    font-size: 11px;
                }

                p {
                    font-size: 11px;

                }

                button {
                    width: 100px;
                    min-height: 45px;
                    font-size: 12px;
                }
            }

        }
    }
}

@media screen and (max-width: 400px) {
    #register {
        .allRegisterForm {
            font-size: 35px;

            #registerForm {
                label {
                    font-size: 9px;
                }

                p {
                    font-size: 9px;

                }

                button {
                    width: 90px;
                    min-height: 45px;
                    font-size: 12px;
                }
            }


        }
    }
}

// footer

footer {
    width: 100%;
    min-height: 500px;
    background-color: #000;

    .allShopUs {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        .shopUs {
            width: 100%;
            min-height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h6 {
                font-size: 16px;
                font-weight: 600;
                color: #fff;
                line-height: 50px;
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
            }

            p {
                width: 100%;
                font-size: 14px;
                color: white;

                &:hover {
                    text-decoration: underline;
                }

                a {
                    width: 100%;
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }
    }


    .followUs {
        width: 100%;
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h6 {
            line-height: 70px;
            font-size: 19px;
            color: #fff;
        }

        .icon {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            i {
                color: #fff;
                font-size: 17px;

                &:hover {
                    background-color: #595959;
                    padding: 10px 12px 10px 12px;
                    border-radius: 50%;
                }
            }
        }
    }

    .footerImgLogo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        min-height: 130px;
    }

    .footerText {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;

        ul {
            display: flex;
            gap: 30px;
            list-style-type: none;
            flex-wrap: wrap;
        }
    }

    .footerTexts {
        width: 90%;
        display: flex;
        align-items: end;
        justify-content: end;

    }
}